# Python virtual env
ai/.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc

# Model files
*.pt
*.pth
*.h5

# Torch libraries
ai/**/*.dll
ai/**/*.lib

ai/.venv/
ai/venv/
ai/env/
__pycache__/
*.dll
*.lib
*.pt
*.pth
*.so
